.event-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid darkgray;
}

.event-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.event-form-item {
  margin-top: 15px;
}