.context-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .context-menu-left-container {
        display: flex;
        align-items: center;
        h1, button {
            margin-right: 10px;
        }
    }
}

.app-drawer {
    display: flex;
    div {
        margin: 0 10px;
        cursor: pointer;
    }
}